* {
    margin: 0;
    padding: 0;
   
}

.active-1{
    animation: 1s ease-in slideFromTop ;
}

.contain{
    height: 210vh;
    width: 100%;
    background-image: linear-gradient( #57111f, #c42e4c);
    overflow-x: hidden;
    
}

.left-side{
margin-left: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.we-are {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    
}

.we-are h1{
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.upper-left{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border-bottom: 1px solid black; */
    
}

.upper-left img {
    width: 75%;
    box-shadow: 0px 10px  ;
}

.new-section .upper-left img {
    box-shadow: 0px 10px rgb(88, 87, 87);
}

.upper-left h1 {
    margin-bottom: 50px;
    color: white;
    font-size: 3rem;
}

.bottom-left {
margin-top: 200px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.right-side {
    margin-top: 100px;
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
  
   
}

.upper-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
    /* border-bottom: 1px solid black; */
   
}
.upper-right img {
    width: 75%;
    box-shadow: 0px 10px ;
}


.text-1{
    margin-top: -100px;
}

.text-2 {
    margin-top: -100px;
}

.text-1 h1 {
   color: #fff;
   
    font-weight: 200;
    text-align: center;
}

.text-2 h1 {

    color: #fff;
    font-weight: 200;
    text-align: center;
}

.upper-right h1 {
   font-size: 3rem;
    margin-bottom: 50px;
    color: white;
}

.bottom-right {
    
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;

}




span {
    font-weight: 600;
}

.butn a{
    text-decoration: none;
    color: #fff;

}

.butn a:hover {
    color: #fff;
}

.butn:hover{
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.034);
}

.butn {
    margin-top: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}



@keyframes  slideFromTop {
    0%{
transform: translateY(-10%);
filter: blur(.7px);
    }
    100%{
transform: translateY(0%);
filter: blur(0px);
    }
}
@keyframes largeSlide {
    0%{
        transform: translateY(-10.5%);
        filter: blur(.7px);
            }
            100%{
        transform: translateY(0%);
        filter: blur(0px);
            }
}


@media (max-width: 1000px) {
   .contain {
    display: flex;
    flex-direction: column;
 height: 280vh;
   }
   
   
   .active-1{
    animation: none;
   }

   .left-side{
    flex-direction: column;
    margin-left: 0px;
   }
   .bottom-right{
    margin-top: 100px;
   }

   .right-side{
    flex-direction: column-reverse;
    margin-left: 35px;
    margin-top: -50px;
   }
}
@media (min-width: 1921px) {
   .contain{
    margin: auto;
    width: 1920px;
    height: 200vh;
   }
.all {
    background-image: linear-gradient( #57111f, #c42e4c);
}

}
