* {
    margin: 0;
    padding: 0;
   
}

.active-1{
    animation: 1s ease-in slideFromTop ;
}

.contain{
    width: 100%;
   
    display: flex;
    
}

.left-side{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#carouselExampleIndicators {
    width: 50%;
}

#carouselExampleFade {
    width: 50%;
}

.upper-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-bottom: 1px solid black;
    background-color: #661424;
}

.upper-left h1 {
    margin-bottom: 50px;
    color: white;
    
}

.bottom-left {
height: 50vh;
display: flex;
align-items: center;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.upper-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-bottom: 1px solid black;
    background-color: #661424;
}

.text-1 h1 {
   
    font-weight: 200;
    text-align: center;
}

.text-2 h1 {
    font-weight: 200;
    text-align: center;
}

.upper-right h1 {
    margin-bottom: 50px;
    color: white;
}

.bottom-right {
    height: 50vh;
    display: flex;
align-items: center;
}

span {
    font-weight: 600;
}



@keyframes  slideFromTop {
    0%{
transform: translateY(-10%);
filter: blur(.7px);
    }
    100%{
transform: translateY(0%);
filter: blur(0px);
    }
}
@keyframes largeSlide {
    0%{
        transform: translateY(-10.5%);
        filter: blur(.7px);
            }
            100%{
        transform: translateY(0%);
        filter: blur(0px);
            }
}

@media (max-width: 1000px) {
   .contain {
    display: flex;
    flex-direction: column;
    
   }

   .active-1{
    animation: none;
   }
}
@media (min-width: 1921px) {
   .container{
    width: 1920px;
   }
}
