* {
    margin: 0;
    padding: 0;
   
}

.active-1{
    animation: 1s ease-in slideFromTop ;
}

.contain{
    width: 100%;
   
    display: flex;
    
}

.left-side{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#carouselExampleIndicators {
    width: 50%;
}

#carouselExampleFade {
    width: 50%;
}

.upper-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-bottom: 1px solid black;
    background-color: #661424;
}

.upper-left h1 {
    margin-bottom: 50px;
    color: white;
    
}

.bottom-left {
height: 40vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: linear-gradient( #661424, #fff);
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-left: 1px solid black;
}

.upper-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-bottom: 1px solid black;
    background-color: #661424;
}

.text-1 h1 {
   color: #fff;
    font-weight: 200;
    text-align: center;
}

.text-2 h1 {

    color: #fff;
    font-weight: 200;
    text-align: center;
}

.upper-right h1 {
   
    margin-bottom: 50px;
    color: white;
}

.bottom-right {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
background-image: linear-gradient( #661424, #fff);
}

span {
    font-weight: 600;
}

.butn a{
    text-decoration: none;
    color: black;

}

.butn a:hover {
    color: black;
}

.butn:hover{
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.034);
}

.butn {
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}


@keyframes  slideFromTop {
    0%{
transform: translateY(-10%);
filter: blur(.7px);
    }
    100%{
transform: translateY(0%);
filter: blur(0px);
    }
}
@keyframes largeSlide {
    0%{
        transform: translateY(-10.5%);
        filter: blur(.7px);
            }
            100%{
        transform: translateY(0%);
        filter: blur(0px);
            }
}


@media (max-width: 1000px) {
   .contain {
    display: flex;
    flex-direction: column;
    
   }

   .active-1{
    animation: none;
   }
}
@media (min-width: 1921px) {
   .contain{
    margin: auto;
    border: 1px solid black;
    width: 1920px;
   }
}
